body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.body-color{
  background-color: #f5f5ef;
}
.taable-size{
  padding: 3rem 8rem 0rem 8rem;
}
.table-head{
  background: #e6e6ff;
  font-weight: bold;
}
.table-head td{
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
}
.table-body{
  background-color: #e6e6e6;
}
.btn-padding{
  padding: 5px;
}